<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
</head>
<body>
<table>
    <tr>
        <th>글번호</th>
        <th>작성자</th>
        <th>제목</th>
        <th>내용</th>
        <th>작성날짜</th>
        <th>조회수</th>
    </tr>
    <tr>
        <td th:text="${board.seq}"></td>
        <td th:text="${board.userId}"></td>
        <td th:text="${board.subject}"></td>
        <td th:text="${board.content}"></td>
        <td th:text="${board.date}"></td>
        <td th:text="${board.views}"></td>
    </tr>
</table>
<form action="/delete/boardBySeq" method="post">
    <button type="submit" th:value="${board.seq}" th:name="seq">게시글 삭제</button>
</form>
</body>
</html>